<nav class="navbar navbar-expand-sm bg-blue">
    <div class="contanier">
        <div class="navbar-header">
        <a class="navbar-brand" href="#" style="color:white">PayPal Dispute</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a href="/" style="color:white">Home</a></li>
        <li><a href="/get_disputes" style="color:white">Disputes</a></li>
    </ul>
</nav>